@font-face {
  font-family: "Din";
  src: url("../fonts/DIN Regular.ttf"); }

.navbar-inverse {
  background-color: black;
  height: 100px; }
  .navbar-inverse .navbar-collapse {
    background: black;
    padding: 20px 0px 20px 50px; }
  .navbar-inverse .nav-link {
    margin-left: 25px; }

.row {
  background: #c7c7c7; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 0px 0px;
  min-height: 400px; }

.content {
  padding: 0px; }

body {
  font-family: "Din", Verdana, sans-serif;
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.footer-logo {
  height: 90%;
  width: 50%;
  padding: 10px; }

.carousel {
  background: black;
  padding: 0px; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.btn-primary {
  background: black;
  border-color: #c7c7c7; }

.modal-header {
  background: black;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background: #c7c7c7; }

.modal-footer {
  background: white; }

.thumbnail {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto; }
  @media (min-width: 769px) {
    .thumbnail {
      width: 90%;
      height: 90%; } }

@media (min-width: 321px) and (max-width: 768px) {
  .thumbnail {
    width: 300px;
    height: 300px;
    padding-bottom: 20px; } }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; }
    .thumbnail img .portrait {
      width: 100%;
      height: auto; }
  .thumbnail img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); }

.no-cover img {
  width: 100%;
  height: auto; }

@media (min-width: 769px) {
  .left {
    float: left; } }

@media (min-width: 321px) and (max-width: 768px) {
  .left {
    display: block;
    margin: auto; } }

.middle {
  display: block;
  margin: auto; }

@media (min-width: 769px) {
  .right {
    float: right; } }

@media (min-width: 321px) and (max-width: 768px) {
  .right {
    display: block;
    margin: auto; } }
