@import "include-media";

$lt-gray: #ddd;
$background-dark: rgb(0, 0, 0);
$background-light: rgb(255, 255, 255);
$background-pale: rgb(199, 199, 199);

// Size variables
$carousel-item-height: 300px;

//Font
@font-face {
    font-family: "Din";
    src: url("../fonts/DIN Regular.ttf")
}

//Mixins
@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

//Navbar
.navbar-inverse {
    background-color: $background-dark;
    height: 100px;

    .navbar-collapse {
        background: $background-dark;
        padding: 20px 0px 20px 50px;
    }

    .nav-link {
        margin-left: 25px;
    }
}

//Bootstrap grid
.row {
    background: $background-pale;
}

.row-header{
    @include zero-margin(0px,0px);
}

.row-content {
    @include zero-margin(0px,0px);
    min-height:400px;
}

.content {
    padding: 0px;
}

body{
    font-family: "Din", Verdana, sans-serif;
    padding:50px 0px 0px 0px;
    z-index:0;
}

.footer-logo {
    height: 90%;
    width: 50%;
    padding: 10px;
}

.carousel {
    background:$background-dark;
    padding: 0px;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}

#carousel-button {
    right:0px;
    position: absolute;
    bottom: 0px;
}

.btn-primary {
    background: $background-dark;
    border-color: $background-pale

}

//Modal
.modal-header {
    background: $background-dark;
    color: floralwhite;

    .close {
        color: floralwhite;
    }
}

.modal-body {
    background: $background-pale;
}

.modal-footer {
    background: $background-light;
}

//Thumbnail
.thumbnail {
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;

    @include media(">tablet"){
        width: 90%;
        height: 90%;
    }
    @include media(">phone", "<=tablet"){
        width: 300px;
        height: 300px;
        padding-bottom: 20px;
    }

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    
        .portrait {
            width: 100%;
            height: auto;
        }
    }

    img:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }

}

.no-cover img {
    width: 100%;
    height: auto;
  }


.left {
    @include media(">tablet"){
        float: left;
    }
    @include media(">phone", "<=tablet"){
        display: block;
        margin: auto;
    }
}

.middle {
    display: block;
    margin: auto;
}

.right {
    @include media(">tablet"){
        float: right;
    }
    @include media(">phone", "<=tablet"){
        display: block;
        margin: auto;
    }
}